transformers==4.46.3
scikit-learn==1.5.2
tokenizers==0.20.3
numpy==1.26.2
tqdm==4.65.0
tensorflow==2.18.0
keras==3.7.0
spacy==3.7.2
scipy==1.11.1
nltk==3.8.1
pandas==2.2.3
keras-preprocessing==1.1.2
matplotlib==3.7.4
